/.vs
/Codable++/x64
/Codable++/Debug
/x64
Codable++.xcodeproj/project.xcworkspace/xcuserdata/evgenij.xcuserdatad/UserInterfaceState.xcuserstate
Codable++.xcodeproj/xcuserdata/evgenij.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
.DS_Store
